# ==========================

# Python

# ==========================

**pycache**/
*.py[cod]
*$py.class

# ==========================

# Virtual Environment

# ==========================

venv/
env/
ENV/

# ==========================

# Jupyter

# ==========================

.ipynb_checkpoints/

# ==========================

# VS Code

# ==========================

.vscode/

# ==========================

# PyCharm

# ==========================

.idea/

# ==========================

# MLflow

# ==========================

mlruns/

# Base de datos local de MLflow

mlflow.db

# ==========================

# Logs

# ==========================

*.log

# ==========================

# Sistema Operativo

# ==========================

.DS_Store
Thumbs.db

# ==========================

# Archivos temporales

# ==========================

*.tmp
*.temp

# ==========================

# Artefactos grandes

# ==========================

*.pkl
*.joblib
*.h5
